.footer__links {
    display: flex;
    list-style: none;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .footer__links {
        flex-direction: column;
        align-items: baseline;
        margin: 0;
    }
}