.intro {
    max-width: 690px;
    margin-left: 148px;
    margin-top: 92px;
    margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 1023px ) {
    .intro {
        margin: 88px 24px 88px;
    }
  }

@media screen and (max-width: 700px) {
    .intro {
        margin: 62px 16px 64px;
    }
}