.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    position: relative;
    margin-left: 48px;
    margin-right: 48px;
    
}


@media screen and (max-width: 1024px) {
    .cover {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin-left: 0px;
        margin-right: 0px;
    }
}
