.place {
    padding-left: 148px;
    padding-right: 148px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-areas:
    'title info'
    'img text';
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
    
}
.place:last-child {
    margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
.place {
    grid-template-columns: 440px 1fr;
    padding-left: 48px;
    padding-right: 48px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
    .place {
      grid-template-columns: 340px 1fr;
      padding-left: 24px;
      padding-right: 24px;
      column-gap: 28px;
      margin-bottom: 73px;
    }
    .place:last-child {
      margin-bottom: 90px;
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
    'title'
    'img';
    padding-left: 0px;
    padding-right: 0px;
    row-gap: 32px;
    margin-bottom: 50px;
  }
  .place:last-child {
    margin-bottom: 66px;
}
}