.place__url-heading {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    text-transform: uppercase;
}

@media screen and (max-width: 650px) {
    .place__url-heading {
      padding-left: 16px;
      padding-right: 16px;
    }
  }