.footer__list-item {
    margin: 0;
}

@media screen and (max-width: 727px) {
    .footer__list-item {
        margin-bottom: 32px;
    }
    .footer__list-item:last-child {
        margin-bottom: 48px; 
    }
}